<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Canal_Water_Distribution</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>services.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCanal</display-name>
    <servlet-name>AddCanal</servlet-name>
    <servlet-class>services.AddCanal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCanal</servlet-name>
    <url-pattern>/AddCanal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFarmer</display-name>
    <servlet-name>AddFarmer</servlet-name>
    <servlet-class>services.AddFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFarmer</servlet-name>
    <url-pattern>/AddFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlan</display-name>
    <servlet-name>AddPlan</servlet-name>
    <servlet-class>services.AddPlan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlan</servlet-name>
    <url-pattern>/AddPlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostFeedback</display-name>
    <servlet-name>PostFeedback</servlet-name>
    <servlet-class>services.PostFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostFeedback</servlet-name>
    <url-pattern>/PostFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recharge</display-name>
    <servlet-name>Recharge</servlet-name>
    <servlet-class>services.Recharge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recharge</servlet-name>
    <url-pattern>/Recharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>services.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>